@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body{
    width: 100%;
    overflow-x: hidden;
}

nav{
    height: 80px;
    display: flex;
}

img{
    width: 100%;
}

p{
    line-height: 1.5;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.blue{
    color: blue;
}

.logo{
    width: 160px;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav__link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border: 2px solid blue;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

#landing{
    background-color: rgba(115,66,214,0.1);
}

header{
    height: calc(100vh - 80px);
}

.header__container{
    padding-top: 32px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 56px;
    color: blue;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 32px;
    margin-top: 96px;
    margin-bottom: 32px;
    text-align: center;
}

button{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

.btn{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__img--wrapper{
    padding: 150px;
    z-index: 50;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*

HIGHLIGHTS

*/

#highlights{
    position: relative;
}

#highlights:after,
#highlights:before{
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before{
    transform: translateY(-100%);
    top: 1px;
}

#highlights:after{
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper{
    display: flex;
}

.highlight{
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight__para{
    text-align: center;
    max-width: 280px;
}

.highlight__img{
    border: 2px solid #7342d6;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
}

/* Features */

#features{
    height: 1000px;
    background-color: rgba(115,66,214,0.1);
}

.book__img{
    max-height: 380px;
}